requests
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
google-api-python-client
python-dotenv
aiogram
sqlalchemy
psycopg2-binary
schedule
ratelimit
pytz
alembic
python-dateutil
redis
fastapi
uvicorn
clickhouse-driver
numpy
colorama
jinja2