<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Личный кабинет{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="/static/tailwind.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <script>
        function toggleMenu() {
            document.getElementById('user-menu').classList.toggle('hidden');
        }
        window.addEventListener('click', function(e) {
            if (!e.target.closest('.relative')) {
                document.getElementById('user-menu').classList.add('hidden');
            }
        });
    </script>
</head>
<body class="bg-metabaseGray min-h-screen flex flex-col">
    {% include "header.html" %}
    <main class="flex-grow px-6 py-4">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
